.accordion h3{
	position: relative;
	cursor: pointer;
}

.accordion h3:after{
	position: absolute;
	content: '\f105';
	right: 0;
	font-family: 'fontawesome';
}

.accordion h3.visible:after{
	content: '\f107';
}